<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @* START OF TEST NAV *@
    @*<div>
        <ul>
            <li>
                <p> @Html.ActionLink("Avoriaz", "Index", "Avoriaz", new { area = "" }, new { @class = "navbar-brand" }) </p> 
            </li>
            <li>
                <p> @Html.ActionLink("Each day", "Index", "Avoriaz") </p> 
            </li>
            <li>
                <p> @Html.ActionLink("Map", "Map", "Avoriaz") </p>
            </li>
            <li>
                <p> @Html.ActionLink("Gallery", "Gallery", "Avoriaz") </p>
            </li>
        </ul>
    </div>*@
    @* END OF TEST NAV *@


    <div class="container body-content">
        @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Avoriaz Webpage</p>
    </footer>
    <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
